<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			Planning Poker
		</title>
	</head>
	<body>
		<form action="/room/show" method="get" accept-charset="utf-8">
			<label for="room_name">Room Name</label><input type="text" name="room_name" value="" id="room_name">
			<p><input type="submit" value="Create or Join Room"></p>
		</form>
	</body>
</html>
